<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2{{#if navHome}} active{{/if}}" href="/">
      <img src="/image/logo.png" height="32" width="32" alt="">
    </a>
    <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navTabs" aria-controls="navTabs"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="py-2 d-none d-md-inline-block{{#if navProjects}} active {{/if}}" href="/projects">Projects</a>
    <a class="py-2 d-none d-md-inline-block{{#if navBlogs}} active {{/if}}" href="/blogs">Blogs</a>
    <a class="py-2 d-none d-md-inline-block " href="/resume">Resume</a>
    <a class="py-2 d-none d-md-inline-block {{#if navAbout}} active {{/if}}" href="/about">About</a>
    <a class="py-2 d-none d-md-inline-block {{#if navContact}} active {{/if}}" href="/contact">Contact</a>
    <a class="py-2 d-none d-md-inline-block" href="/dashboard">Admin</a>

    <div class="collapse navbar-collapse" id="navTabs">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>