<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}

    <title>{{ title }}</title>

    {{#each extraCss}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
</head>
<body>
    {{#if nav}}
        {{> header }}
    {{/if}}

    {{{body}}}

    {{#if footer}}
        {{> footer}}
    {{/if}}
    {{> scripts }}
</body>
</html>