.active {
    color: #fff !important;
    border-bottom: 2px solid #fff;
}

.project-detail-sb {
    border-right: 1px solid #e9ecef;
}


.project-sidebar-block {
    padding:10px 0px;
}

.project-sidebar-block h2{
    padding:10px 0px;
    font-weight: bold;
    font-size: 16px;
}

.project-sidebar-links {
    margin:10px 0px;
}

.bc-item {
    color: blue
}


.navbar-dark .navbar-toggler {
    color: rgba(255, 255,255, .1);
    border-color: rgba(255, 255,255, .1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}